* {
    margin:0px;
    padding: 0px;
}

/*Start of Header section*/

header {
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    font-family: 'Poppins', sans-serif;
}

.navigation {
    
    display: flex;
    align-items: center;
}

.nav-menu {
    margin-top: 40px;
    margin-left: 146px;
    width: 1007px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu a {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 36px;
    font-size: 16px;
    font-weight: 500;
}

.fas {
    margin-right: 12px;
}

.main-text {
    margin: 49px 136px;
    display: flex;
    justify-content: space-between;

}

.header-text {
    margin: 0;
    padding: 0;
    width: 780px;
}

.banner {
    width: 450px;
}

.header-text {
    margin-right: 156px;
    
}

.button {
    
    color: white;   
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 15px;
    background-color: #E02C6D;
    transition-property: background-image;
    transition-duration: 1s;
    transition-delay: .3em;
}

.button:hover {
    background-image: linear-gradient(70deg, rgb(238, 163, 25), #df1861);
}

.button>.fas {
    padding-left: 10px;
}

.main-text h1 {
    margin-bottom: 27px;
    color: white;
    font-size: 64px;
    font-weight: 700;
}


.banner-image {
    width: 556px;
    height: 438px;
}


/*End of Header section*/



/*Start of player Section*/

.players {
    margin: 70px 0 20px 170px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 30px;
}

.player {
    width: 330px;
    height: 444px;
    border: none;
    box-shadow: 0px 0px 15px 0 gray;
    font-family: 'Poppins', sans-serif;
}

.p-image {
    width: 300px;
    height: 256px;
    padding: 15px;
}

.details {
    margin: 0px;
    padding: 0px;
}

.details h2 {
    padding-left: 15px;
    font-size: 28px;
    font-weight: 700;
    color:#18191F;
}

.details p {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

/*End of player Section*/



/*Start of fix-frame Section*/

.fix-iframe {
    margin-top: 70px;
    margin-left: 170px;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.fixture {
    margin-right: 30px;
    width: 450px;
    padding: 20px;
    
    text-align: center;
    
}

.fixture h3, p{
    margin: 0;
    padding: 5px 0px;
}

.group-01 {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .gfont {
     font-size: 12px;
 }

.img-link {
    display: flex;
    align-items: center;
}

 .flag-img {
     margin-left: 10px;
     padding-left: 10px;
     width: 80px;
     height: 40px;
     
 }

 .rank-link {
     
     padding: 0px 10px;
     text-decoration: none;
     color: darkblue; 
     font-weight: 500;
 }

 .rank-link:hover {
     border: 1px solid blue;
     border-radius: 15px;
     background-color: darkblue;
     color: whitesmoke;
 }

 .frame {
     margin-top: 50px;
 }


 /*End of fix-frame Section*/


/*Start of footer Section*/

footer {
    margin-top: 100px;
    margin-bottom: 70px;
    height: 213px;
    display: block;
    justify-content: center;
    align-items: center;

}

.image-logo {

    display: flex;
    justify-content: center;
}

footer img {
    width: 484px;
    height: 110px;
    
}

.fab-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 35px;
    height: 35px;
    margin: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    
}

.fab {
    width: 17px;
    height: 17px;
    padding: 10px;
    color: #969BAB;
}

footer p {
    margin: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


/*End of footer Section*/




/*design for responsiveness*/


/*for mobile */

@media only screen and (max-width: 599px) {
    
    
    header {

        width: 100%;       
        height: auto;
        background-color: #2D25A0;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .menu {
        width: 300px;
        display:  flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .nav-menu {
        margin-top: 0px;
        margin-left: 0px;
        padding: 30px;
        width: 100%;        
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .menu a {
        padding-right: 36px;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .fas {
        margin-top: 20px;
        margin-right: 12px;
    }
    
    .main-text {
        margin: 20px 30px;
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
    .header-text {
        width: 500px;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
   }

    .header-text h1 {
        text-align: left;
        font-size: 24px;
    }
    
    .button {
        
        color: white;   
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        background-color: #E02C6D;
        transition-property: background-image;
        transition-duration: 1s;
        transition-delay: .3em;
    }
    
    .button:hover {
        background-image: linear-gradient(70deg, rgb(238, 163, 25), #df1861);
    }
    
    .button>.fas {
        padding-left: 10px;
    }
    
    
    .banner-image {
        margin-top: 40px;
        width: 300px;
        height: 400px;
    }

        /*--------------
        Header Section finished------*/




        /*Start of player Section*/


        .players {
            margin: 40px 0 40px 0;
            padding:0;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;
        }


        .fix-iframe {
            margin: 40px 0 40px 0;
            padding:0;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;
        } 
        
        
        
        
        footer {
            margin: 40px 0 40px 0;
            padding:0;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            justify-content:center;
        }



}




